.container {
  position: relative;
  background: lightgray;
}

.box-orange {
  background: orange;
  height: 100px;
  width: 100px;
  position: absolute;
  right: 5px;
}

.box-blue {
  background: lightskyblue;
  height: 100px;
  width: 100px;
  position: static;
}
